.btn {
    color: $color-white !important;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 200px;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    transition: all 0.2s;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.2rem;

    

    &:hover {
    background-color: $color-primary-light;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
}
